<h1>Edit Picture # <%= @id %></h1>

<a href="<%= single_picture_url(@id) %>">Cancel</a>

<form action="<%= update_picture_url %>" method="post">

  <input type="text" name="url">

  <input type="submit">

</form>
