<ul>
  <% @pictures.each do |pic| %>
    <li>
      <%= link_to image_tag(pic.url, :width => 240), pic %>
      <%= link_to "Edit", edit_picture_url(pic) %>
      <%= link_to "Delete", pic, :method => "delete" %>
    </li>
  <% end %>
</ul>
